* {
  margin: 0px;
}

.body {
  background-color: rgb(255, 239, 59);
}

.buttonSection {
  margin-top: 3vh;
  display: grid;
  justify-items: center;
}

button {
  padding: 10px;
  font-size: 3vh;
  background-color: black;
  color: aliceblue;
  border-radius: 50px;
  width: 33%;
}
